<html>
    <body>
        <h1>
            Welcome to Fantasy Football Picks.
        </h1>
        <button onclick="splashClickHandler()">
            Pick Now!
        </button>
        <script src="script.js"></script>
        <script src="bundle.js"></script>

    </body>
</html>
